.generator-wrapper {
    width: auto;
    display: grid;
    justify-items: center;
    grid-template-rows: 80px 1fr 1fr 1fr auto;
    height: 100vh;
    position: relative;
    
}

.generator-wrapper {
    background-image: url("../../static/assets/images/logo.png");
    background-repeat: no-repeat;
    background-position:center;
    background-color: #B287A3;
    background-size: 300px;
    
    

    form {
        display: flex;
        flex-direction: column;
        width: 275px;

    }

    .style-render{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.5rem;
        color: #DEFFFC;
        text-align: center;
    }
    .workout-wrapper{
        display:flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        text-align: center;
        flex-wrap:wrap;

        

        .workout-table{
            border: 2px solid #DEFFFC;
            margin-bottom: 50px;
            color: green;
            font-weight: 900;
        }
    }
    h1 {
        text-align: center;
    }
    
}

