.header-wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: #DEFFFC;
   

    .left-column, .right-column {
        margin: 10px 10px;
        
    }

    .left-column  {
        img {
        width: 75px;
        }
    }

        .right-column {
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
            a, span{
                border: solid;
                border-radius: 5px;
                background-color: white;
                font-size: 1rem;
                margin: 5px
            }
            a:active, span:active {
                box-shadow: 5px 5px grey ;
                border-radius: 5px;
                cursor: default;

            }
            span:hover {
                cursor: pointer;
            }

    }
    .portal-generator {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        align-items: right;
    }

}

// Ideas for Flex Box  -  Flex Grow and Flew Wrap and Flex Shrink