.home-wrapper {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background-color: rgba(71, 189, 60, 0.849);
    height: 100vh;

// TODO - Aling the home Page to be center horizontally and then create the Login and signup pages and go to the back end and push the backend to Heroku
    .header-home {
        
    }

}