.home-wrapper {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background: radial-gradient(#00DB2A,#146414);
    height: 100vh;

    .home-msg {
        display: flex;
        justify-content: center;
        font-size: 1.10rem;
    }

     .header-home{
        display: flex;
        justify-content: center;
    }
}



// Generator page and index
// #4B3B40 Old Burgandy and #B287A3 Opera Mauve 

// Home pages and Header and Footer
// # DEFFFC Light Cyan and #379392 Virdian Green 