.home-wrapper {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background: radial-gradient(#00DB2A,#146414);
    height: 100vh;

// TODO - create the Login and Signup pages and go to the back end and push the backend to Heroku
    .header-home {
        display: flex;
        justify-content: center;
    }

}


// Other Colors to use 
// #4B3B40 Old Burgandy and #B287A3 Opera Mauve 

// # DEFFFC Light Cyan and #379392 Virdian Green 