.login-wrapper {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background-color: rgba(71, 189, 60, 0.849);
    height: 100vh;
}