@media (max-width: 615px) {
    .header-wrapper .portal-logout a, #span{
        font-size: 10px;
    }
     .home-wrapper > .generator img {
        width: 315px;
    }

    .home-wrapper > .header-home {
        font-size: 25px;

    }
    .home-wrapper > .home-msg {
        font-size: 15px;
        margin: auto;
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
    }


}


// Workout Generator Page - the generator jumping we need to fix that border-bottom: transparent;
// https://dev.to/abdulbasit313/an-easy-way-to-create-a-customize-dynamic-table-in-react-js-3igg


// Workout Index -- the grid that form below the body once muscle group clicked the core workouts overlapping the footer

// signup and Login are mobile responsive 



