@media (max-width: 615px) {
    .header-wrapper .portal-logout a, #span{
        font-size: 10px;
        padding: 5px 16px;
    }

    .header-wrapper > .right-column {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        text-align: center;
    }

    .header-wrapper > .portal-logout {
        display:flex;
        flex-direction: row;
        justify-items: flex-end;


    }

    .header-wrapper > .right-column a{
        font-size: 10px;
        padding: 5px 7px;
    }

     .home-wrapper > .generator img {
        width: 315px;
    }

    .home-wrapper > .header-home {
        font-size: 25px;

    }
    .home-wrapper > .home-msg {
        font-size: 15px;
        margin: auto;
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
    }

    .generator-wrapper {
        grid-template-rows: 1fr 1fr 1fr 40% auto;
        height: auto;

        h1 {
            font-size: 1rem;
        }

    }

    .workout-index-wrapper h1 {
        font-size: 1rem;
    }




}

@media (min-width: 1500px){
    .workout-index-wrapper {
        grid-template-rows: 1fr 1fr auto ;
    }
}






