.workout-index-wrapper {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr auto;
    background: #B287A3;
    height: 1000px;
    align-items: center;


    h1 {
        display: flex;
        justify-content: center;

        // font-size: 15px;
    }

    img {
        width: 100%;
        height: auto;
        align-items: center;
    }

    
}

